{port_specs, [{"priv/lib/memcached_drv.so", ["c_src/*.cpp"]}]}.
{port_env, [ 
            %% OS X Lion flags for 64-bit
            {"darwin11.*-64$", "CFLAGS", "-m64 $CFLAGS"},
            {"darwin11.*-64$", "CXXFLAGS", "-m64 $CXXFLAGS"},
            {"darwin11.*-64$", "LDFLAGS", "-arch x86_64 $LDFLAGS"},
            %% link against libmemcached
            {"darwin.*", "DRV_LDFLAGS", "$DRV_LDFLAGS -lmemcached"},
	        {"linux.*", "DRV_LINK_TEMPLATE", "$CXX $PORT_IN_FILES $LDFLAGS $DRV_LDFLAGS -o $PORT_OUT_FILE -lmemcached"}]}.
